/* Write some CSS below */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

.banner{
    width:100%;
    height:85vh;
    
    background-image: url("images/28_76742202_2.png");
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

body{
    
    font-size:medium;
    background-color: black;
    
}

h1 {
    color:whitesmoke;
    align-items: center;
    font-family: 'Roboto Slab', serif;    
    font-size: 50px;
}

.banner-cta{
    font-family: 'Roboto Slab', serif;     
    text-decoration: none;
    color: white;
    background-color: grey;
    text-decoration: underline;
    padding:12px 24px;
}

h2 {
    padding: 20px;
    font-family: 'Roboto Slab', serif; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

h3{
    font-size: larger;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

h4{
    font-family: 'Roboto Slab', serif; 
    font-size:large;
    background-color: white;
    padding:12px 24px;
    border-radius: 5vh;
    box-shadow: 10px 10px 10px grey;
}

h6{
margin:10px;
color:black;
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.card-list {
    list-style-image: none;
    display: flex;
    gap: 1px;
    justify-content: space-evenly;
}

.card1 {
    padding: 10px;
    width:45vh;
    height:90vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin:30px;
    box-shadow: 10px 10px 10px grey;
    background-color:lightgrey;
    border-radius: 3vh;

}

.card2 {
    padding: 10px;
    width:45vh;
    height:90vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin:30px;
    box-shadow: 10px 10px 10px grey;
    background-color:lightgrey;
    border-radius: 3vh;
}

.card3 {
    padding: 10px;
    width:45vh;
    height:90vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin:30px;
    box-shadow: 10px 10px 10px grey;
    background-color:lightgrey;
    border-radius: 3vh;
}

h5
{
    color: white;
   
}

.h7{

    color:black;
    margin:20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:small;
    background-color: white;
    padding:12px 24px;
    border-radius: 1vh;
    box-shadow: 10px 10px 10px grey;
}

.card-foot 
{
    background-color: ;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    font-style: italic;
    
}

@media (max-width: 800px) {

    .banner{
        width:auto;
    }
        .card-list {
            flex-direction: column;
            gap:1rem;
            width: 600px;
            align-items: center;
            width:auto;
        }

        .card1{
            height: auto;
            width:auto;
        }
        .card2{
            height: auto;
            width:auto;
        }
        .card3{
            height: auto;
            width:auto;
        }
      }
        